* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #202626;
  // overflow: hidden;
}
.mainContainer {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
  // transform: translateZ(1000px);
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
